/** 
-Import Google Fonts and Define font variables
-Define color varibalbes
-Reset CSS properties(margin, padding)
*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,600;0,700;1,300;1,700&display=swap");
:root {
  --color-primary-blue: hsl(223, 87%, 63%);
  --color-secondary-pale-blue: hsl(223, 100%, 88%);
  --color-secondary-light-red: hsl(354, 100%, 66%);
  --color-neutral-gray: hsl(0, 0%, 59%);
  --color-neutral-blue: hsl(209, 33%, 12%);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}

.landing {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  margin: 0 auto;
}
@media screen and (max-width: 510px) {
  .landing {
    width: 95%;
  }
}
.landing__img {
  margin-top: 80px;
  align-self: center;
  width: 90px;
}
.landing__title {
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 60px;
  font-size: 48px;
}
@media screen and (max-width: 510px) {
  .landing__title {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 8px;
  }
}
.landing__title-thin {
  color: var(--color-neutral-gray);
  font-weight: 300;
}
@media screen and (max-width: 510px) {
  .landing__content {
    font-size: 12px;
  }
}
.landing .form {
  margin-top: 40px;
  margin-bottom: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 510px) {
  .landing .form {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
.landing .form__label {
  align-self: stretch;
  flex-basis: 65%;
}
.landing .form__label .error-message {
  display: none;
  text-align: left;
  font-size: 12px;
  padding-left: 35px;
  color: #f66666;
}
@media screen and (max-width: 510px) {
  .landing .form__label {
    width: 70%;
    margin: 0 auto;
  }
}
.landing .form__input {
  cursor: text;
  border-radius: 30px;
  padding-left: 10%;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: none;
  border: 1px solid var(--color-secondary-pale-blue);
  color: var(--color-secondary-pale-blue);
}
.landing .form__input:focus {
  outline: none;
}
@media screen and (max-width: 510px) {
  .landing .form__input {
    padding: 10px;
  }
}
.landing .form__input-error {
  border: 1px solid #f66666;
}
.landing .form .button {
  cursor: pointer;
  flex-basis: 34%;
  font-family: inherit;
  font-weight: 600;
  width: 200px;
  height: 56px;
  padding: 5px;
  border-radius: 30px;
  font-size: 16px;
  border: none;
  color: white;
  background-color: var(--color-primary-blue);
  box-shadow: 0 4px 8px 0 var(--color-secondary-pale-blue), 0 6px 20px 0 var(--color-secondary-pale-blue);
}
@media screen and (max-width: 510px) {
  .landing .form .button {
    margin-top: 10px;
    width: 70%;
    padding: 10px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}
.footer__media-links {
  margin-bottom: 25px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 150px;
}
@media screen and (max-width: 510px) {
  .footer__media-links {
    width: 50%;
  }
}
.footer__media-links .footer__media-links_item {
  width: 32px;
  height: 32px;
  border: 1px solid var(--color-secondary-pale-blue);
  border-radius: 50% 50%;
  position: relative;
}
.footer__media-links .footer__media-links_item:hover {
  background-color: var(--color-primary-blue);
}
.footer__media-links .footer__media-links_item .fab {
  position: absolute;
  transform: translate(-50%, 20%);
  color: var(--color-primary-blue);
}
.footer__media-links .footer__media-links_item .fab:hover {
  color: white;
}
.footer__copyright {
  font-size: 12px;
}
@media screen and (max-width: 510px) {
  .footer__copyright {
    font-size: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
